#############################
# ROS 2 Build Artifacts
#############################

build/
install/
log/

#############################
# Colcon
#############################

.colcon/

#############################
# CMake
#############################

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

#############################
# Python
#############################

__pycache__/
*.pyc
*.pyo

#############################
# VS Code
#############################

.vscode/

#############################
# CLion
#############################

.idea/

#############################
# Vim
#############################

*.swp
*.swo

#############################
# Linux
#############################

*~

#############################
# macOS
#############################

.DS_Store

#############################
# Windows
#############################

Thumbs.db
Desktop.ini

#############################
# ROS logs
#############################

*.log
